/*VARIABLES*/
$DarkGrey: #303030;
$LightGrey: #c2c2c2;
$Font: Arial;
$FontSize: 11pt;
$top: 85px;

/*RESET*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none;
    color: $DarkGrey;
}

body{
    background-color: bisque;
    height: 100vh;
    font-family: $Font;
    font-size: $FontSize;
}

/*CONTAINER*/
.Container{
    max-width: 350px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    top:18vh;
    padding: 15px 35px;
    background-color: #FFF;
    border-radius: 5px;
    /*SHADOW*/
    box-shadow: 1px 7px 27px -13px rgba(0,0,0,0.63);
    -webkit-box-shadow: 1px 7px 27px -13px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 7px 27px -13px rgba(0,0,0,0.63);
}

/*TEXT*/
h1{
    font-size: 16pt;
    font-weight: 500;
}

label{
    color: $LightGrey;
}