/*LIST*/
li{
    list-style: none;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: $LightGrey;
}

li:after{
    content: url('../assets/eye.svg');
    width:10px;
    height:auto;
    padding-left: 10px;
}

.ImgList{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 20px;
}